{%- liquid
  # 唯一 ID
  assign id = key
  # 将 data 赋值给一个变量
  assign data = data
  # 表头
  assign group_header = data.group_header.value
  # 表格：一个group是一行的数据，怎么一列列渲染
  assign group = data.group.value
  assign cols = 0
  for item in group
    assign current_size = item.group.value | size
    if current_size > cols
      assign cols = current_size
    endif
  endfor
  assign max_cols = cols | minus: 1
-%}

<div class="overflow-x-auto">
  <table class="mw-table mw-table-xs mw-table-pin-rows mw-table-pin-cols">
    <thead>
      <tr class="bg-black text-white">
        {% for item in group_header %}
          <td class="text-sm tracking-normal leading-[1.5] px-[2em] sm:px-[0.5em] md:px-[0.5em] py-[1em] sm:py-[0.5em] md:py-[0.5em] font-semibold">
            {{ item }}
          </td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for i in (0..max_cols) %}
        <tr>
          {% for col in group %}
            {% case col.type %}
              {% when 'text' %}
                <td class="text-sm tracking-normal leading-[1.5] px-[2em] sm:px-[0.5em] md:px-[0.5em] py-[1em] sm:py-[0.5em] md:py-[0.5em] {% if forloop.index0 == 0 %} font-semibold {% endif %}">
                  {{ col.group.value[i] }}
                </td>
              {% when 'image' %}
                <td class="text-sm tracking-normal leading-[1.5] px-[2em] sm:px-[0.5em] md:px-[0.5em] py-[1em] sm:py-[0.5em] md:py-[0.5em] {% if forloop.index0 == 0 %} font-semibold {% endif %} min-w-[15vw] sm:min-w-[45vw] md:min-w-[45vw]">
                  {%- liquid
                    assign offset = i
                    assign current = blank
                    for item in col.group.value offset: offset limit: 1
                      assign current = item
                    endfor
                  -%}

                  <img
                    src="{{ current | image_url: width:800}}"
                    alt=""
                    width="800"
                    height=""
                    class="w-full h-auto object-contain"
                  >
                </td>
            {% endcase %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
